<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{layout::header}"></th:block>
<body>
<div class="main-wrapper">
  <div class="order-complete-area bg-gray pt-115 pb-120">
    <div class="container">
      <div class="order-complete-title">
        <h1 class="display-1 fw-bold">Thank you. Your order has been received.</h1>
      </div>
    </div>
  </div>
  <th:block th:replace="~{layout::footer}"></th:block>
</div>

<!-- All JS is here
============================================ -->

<script th:src="@{/js/vendor/modernizr-3.6.0.min.js}"></script>
<script th:src="@{/js/vendor/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/plugins/slick.js}"></script>
<script th:src="@{/js/plugins/jquery.syotimer.min.js}"></script>
<script th:src="@{/js/plugins/jquery.instagramfeed.min.js}"></script>
<script th:src="@{/js/plugins/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/plugins/wow.js}"></script>
<script th:src="@{/js/plugins/jquery-ui-touch-punch.js}"></script>
<script th:src="@{/js/plugins/jquery-ui.js}"></script>
<script th:src="@{/js/plugins/magnific-popup.js}"></script>
<script th:src="@{/js/plugins/sticky-sidebar.js}"></script>
<script th:src="@{/js/plugins/easyzoom.js}"></script>
<script th:src="@{/js/plugins/scrollup.js}"></script>
<script th:src="@{/js/plugins/ajax-mail.js}"></script>

<!-- Use the minified version files listed below for better performance and remove the files listed above
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>  -->
<!-- Main JS -->
<script th:src="@{/js/main.js}"></script>
</body>
</html>