<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en">
<th:block th:replace="~{layout::header}"></th:block>
<title>Category List - Norda Shop</title>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-light">
        <div class="container-fluid">
        </div>
      </nav>
    </div>
  </div>
  <table class="table table-striped table table-hover table-bordered">
    <thead>
    <tr>
      <th><a th:href="@{'/categories/page/' + ${currentPage} + '?sortField=id&sortType=' + ${reverseSortType}}">ID</a></th>
      <th><a th:href="@{'/categories/page/' + ${currentPage} + '?sortField=title&sortType=' + ${reverseSortType}}">Name</a></th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${category}">
      <td th:text="${category.id}">ID</td>
      <td th:text="${category.name}">Name</td>
      <td>
        <div sec:authorize="hasAnyAuthority('ADMIN')">
          <a class="btn btn-warning" th:href="@{'/categories/edit/' + ${category.id}}">Edit</a>
          <a class="btn btn-danger" th:href="@{'/categories/delete/' + ${category.id}}">Delete</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div>
    <h5>Total Categories: [[${totalItems}]]</h5>
  </div>
</div>
<div class="pro-pagination-style text-center mt-10">
  <ul>
    <li th:class="${currentPage == 1}? 'disabled'">
      <a class="prev" th:href="${currentPage > 1} ? @{/categories/page/{pageNum}(pageNum=${currentPage - 1})} : '#'"><i class="icon-arrow-left"></i></a>
    </li>
    <li th:each="i : ${#numbers.sequence(1, totalPages)}">
      <a class="active" th:if="${currentPage == i}" th:text="${i}" th:href="@{/categories/page/{pageNum}(pageNum=${i})}"></a>
      <a th:unless="${currentPage == i}" th:text="${i}" th:href="@{/categories/page/{pageNum}(pageNum=${i})}"></a>
    </li>
    <li th:class="${currentPage == totalPages}? 'disabled'">
      <a class="next" th:href="${currentPage < totalPages} ? @{/categories/page/{pageNum}(pageNum=${currentPage + 1})} : '#'"><i class="icon-arrow-right"></i></a>
    </li>
  </ul>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>