<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout::header}"></th:block>
<title>Norda Shop - 1337 Team</title>
<body>
<div class="main-wrapper">
    <!-- mini cart start -->
    <th:block th:replace="~{layout::sidebar-cart}"></th:block>
    <!-- Mobile menu start -->
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="clickalbe-sidebar-wrap">
            <a class="sidebar-close"><i class="icon_close"></i></a>
            <div class="mobile-header-content-area">
                <div class="mobile-search mobile-header-padding-border-1">
                    <form class="search-form" action="#">
                        <input type="text" placeholder="Search here…">
                        <button class="button-search"><i class="icon-magnifier"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-padding-border-2">
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><a href="index.html">Home</a>
                            </li>
                            <li class="menu-item-has-children "><a href="#">Blog</a>
                            </li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-social-icon">
                    <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                    <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                    <a class="pinterest" href="#"><i class="icon-social-pinterest"></i></a>
                    <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumb-area bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">Shop </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="shop-area pt-120 pb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-topbar-wrapper">
                        <div class="shop-topbar-left">
                            <div class="view-mode nav">
                                <a class="active" href="#shop-1" data-toggle="tab"><i class="icon-grid"></i></a>
                               <!-- <a href="#shop-2" data-toggle="tab"><i class="icon-menu"></i></a>-->
                            </div>
                            <p>Showing 1 - 20  </p>
                        </div>
                        <div class="product-sorting-wrapper" style="display: none">
                            <div class="product-shorting shorting-style">
                                <label>View :</label>
                                <select>
                                    <option value=""> 20</option>
                                    <option value=""> 23</option>
                                    <option value=""> 30</option>
                                </select>
                            </div>
                            <div class="product-show shorting-style">
                                <label>Sort by :</label>
                                <select>
                                    <option value="">Default</option>
                                    <option value=""> Name</option>
                                    <option value=""> price</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="shop-bottom-area">
                        <div class="tab-content jump">
                            <div id="shop-1" class="tab-pane active">
                                <div class="row">
                                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12" th:each="shoes : ${shoes}">
                                        <div class="single-product-wrap mb-35">
                                            <div class="product-img product-img-zoom mb-15">
                                                <a th:href="@{'/shoes/detail/' + ${shoes.id}}">
                                                    <img alt="" th:src="@{${shoes.photosImagePath}}" th:width="200px" th:height="250px">
                                                </a>
                                             <!--   <div class="product-action-2 tooltip-style-2">
                                                    <button title="Wishlist"><i class="icon-heart"></i></button>
                                                </div>-->
                                            </div>
                                            <div class="product-content-wrap-2 text-center">

                                                <h3><a th:href="@{'/shoes/detail/' + ${shoes.id}}" th:text="${shoes.name}"></a></h3>
                                                <div class="product-price-2">
                                                    <span th:text="'$' + ${shoes.price}"></span>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap-2 product-content-position text-center">

                                                <h3><a th:href="@{'/shoes/detail/' + ${shoes.id}}" th:text="${shoes.name}"></a></h3>
                                                <div class="product-price-2">
                                                    <span th:text="'$' + ${shoes.price}"></span>
                                                </div>
                                                <div class="pro-add-to-cart">
                                                    <form th:action="@{/shoes/add-to-cart}" method="post" class="d-inline">
                                                        <input type="hidden" name="shoesId" id="shoesId" th:value="${shoes.getId()}">
                                                        <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to add this shoes to cart?')">
                                                            Add to cart
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="sidebar-wrapper sidebar-wrapper-mrg-right">
                        <div class="sidebar-widget mb-40">
                            <h4 class="sidebar-widget-title">Search </h4>
                            <div class="sidebar-search">
                                <form class="sidebar-search-form" th:action="@{/all/page/{pageNum}(pageNum=${currentPage}, sortField=${sortField}, sortType=${sortType})}">
                                    <input class="form-control me-2" type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required/>
                                    <button>

                                        <button class="button-search"><i class="icon-magnifier" ></i></button>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar-widget shop-sidebar-border mb-35 pt-40">
                            <h4 class="sidebar-widget-title">Categories</h4>
                            <div class="sidebar-widget shop-catigory">
                                <ul>
                                    <li>
                                        <a th:href="@{/all/page/1}">All</a>
                                    </li>
                                    <li th:each="category : ${categories}">
                                        <a th:href="@{/all/page/1(category=${category.id})}" th:text="${category.name}"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pro-pagination-style text-center mt-10">
    <ul>
        <li th:class="${currentPage == 1}? 'disabled'">
            <a class="prev" th:href="${currentPage > 1} ? @{/all/page/{pageNum}(pageNum=${currentPage - 1})} : '#'"><i class="icon-arrow-left"></i></a>
        </li>
        <li th:each="i : ${#numbers.sequence(1, totalPages)}">
            <a class="active" th:if="${currentPage == i}" th:text="${i}" th:href="@{/all/page/{pageNum}(pageNum=${i})}"></a>
            <a th:unless="${currentPage == i}" th:text="${i}" th:href="@{/all/page/{pageNum}(pageNum=${i})}"></a>
        </li>
        <li th:class="${currentPage == totalPages}? 'disabled'">
            <a class="next" th:href="${currentPage < totalPages} ? @{/all/page/{pageNum}(pageNum=${currentPage + 1})} : '#'"><i class="icon-arrow-right"></i></a>
        </li>
    </ul>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
<!-- All JS is here
============================================ -->

<script th:src="@{/js/vendor/modernizr-3.6.0.min.js}"></script>
<script th:src="@{/js/vendor/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/plugins/slick.js}"></script>
<script th:src="@{/js/plugins/jquery.syotimer.min.js}"></script>
<script th:src="@{/js/plugins/jquery.instagramfeed.min.js}"></script>
<script th:src="@{/js/plugins/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/plugins/wow.js}"></script>
<script th:src="@{/js/plugins/jquery-ui-touch-punch.js}"></script>
<script th:src="@{/js/plugins/jquery-ui.js}"></script>
<script th:src="@{/js/plugins/magnific-popup.js}"></script>
<script th:src="@{/js/plugins/sticky-sidebar.js}"></script>
<script th:src="@{/js/plugins/easyzoom.js}"></script>
<script th:src="@{/js/plugins/scrollup.js}"></script>
<script th:src="@{/js/plugins/ajax-mail.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script>
    function submitForm() {
        document.getElementById('checkoutForm').submit();
    }
</script>
</body>
</html>